* {
  box-sizing: border-box;
}


html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: white;
  height: 100%;
  padding: 15px;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(10, 60px);
}

.grid .square {
  background-color: rgb(217, 213, 213);
  border: 1px solid black;
}

.btn {
  background-color: rgb(166, 177, 166);
  margin: 30px;
  width: 30%;
  height: 45px;
}